@model CompaniesEquities

@{

    int Time = DateTime.Now.Hour;
}

@if ((DateTime.Now.DayOfWeek == DayOfWeek.Saturday) || (DateTime.Now.DayOfWeek == DayOfWeek.Sunday))
{
    <div style="float: right;">
        <p>
            <b><font color="Red" size="5">Weekend!!! Stock Market is Closed</font></b><br />
            <div id="txt" style="float: right; color:Blue;"></div>
        </p>
    </div>
}
else
{

    @if ((Time >= 9) && (Time <= 16))

    {
        <div style="float: right;">
            <p>
                <b><font color="Blue" size="6">Stock Market is Opened</font></b><br />
                <div id="txt" style="float: right; color:Blue;"></div>
            </p>
        </div>

    }
    else
    {
        <div style="float: right;">
            <p>
                <b><font color="Red" size="5">Stock Market is Closed</font></b><br />
                <div id="txt" style="float: right; color:Blue;"></div>
            </p>
        </div>

    }
}

<head>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };
            return i;
        }
    </script>
    <style>
        body {
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>

<h2>Yearly Chart Data for Symbol</h2>
<h4>Enter the Symbol to get the Chart data</h4>
<hr />

<body onload="startTime()">
    <form asp-controller="Home" asp-action="Chart" method="get">
        <p> Symbol: <input type="text" id="txtName" name="symbol" /><input type="submit" value="Get Chart" /></p>
        <p> Sample Symbols:
            <select name="symbol1">
                @foreach (var company in Model.Companies)
                {
                    <option value=@company.symbol selected>@company.symbol</option>

                }
            </select>
        </p>

    </form>
    @if (Model.Current != null)
    {
        var equity = Model.Current;
        <hr />
        <table  >
            <tbody align="center" style="margin: 0px auto;">
                <tr>
                    <td>
                        <u>Current Chart Data</u>
                        <table align="center" border="2" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    Symbol
                                </td>
                                <td>
                                    @equity.symbol
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Open
                                </td>
                                <td>
                                    @equity.open
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    High
                                </td>
                                <td>
                                    @equity.high
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Close
                                </td>
                                <td>
                                    @equity.close
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Volume
                                </td>
                                <td>
                                    @equity.volume
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div>
                            <canvas id="myChart" height="500" width="800"></canvas>
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="SaveCharts" asp-route-symbol="@Model.Current.symbol">
                            <img src="~/img/button_save-data.png" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    <script>
    getChart("@Model.Dates", "@Model.Prices", "@Model.Volumes", @Model.AvgPrice, @Model.AvgVolume);
    alertDbSave(@ViewBag.dbSuccessChart);
    </script>
</body>