@model DividendVM

@{

    int Time = DateTime.Now.Hour;
}

@if ((DateTime.Now.DayOfWeek == DayOfWeek.Saturday) || (DateTime.Now.DayOfWeek == DayOfWeek.Sunday))
{
    <div style="float: right;">
        <p>
            <b><font color="Red" size="5">Weekend!!! Stock Market is Closed</font></b><br />
            <div id="txt" style="float: right; color:Blue;"></div>
        </p>
    </div>
}
else
{

    @if ((Time >= 9) && (Time <= 16))

    {
        <div style="float: right;">
            <p>
                <b><font color="Blue" size="6">Stock Market is Opened</font></b><br />
                <div id="txt" style="float: right; color:Blue;"></div>
            </p>
        </div>

    }
    else
    {
        <div style="float: right;">
            <p>
                <b><font color="Red" size="5">Stock Market is Closed</font></b><br />
                <div id="txt" style="float: right; color:Blue;"></div>
            </p>
        </div>

    }
}

<html>
<head>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };
            return i;
        }
    </script>
    <style>
        body {
            width: 90%;
            margin: 0 auto;
        }
                     
        table {
            width: 100%;
            float: left;
        }
    </style>
</head>

<h2>Dividends</h2>

<h4>Enter the Symbol to get the Dividend data !</h4>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Dividend" method="get">
            <p> Symbol: <input type="text" id="txtName" name="symbol" /><input type="submit" value="Get Dividends" /></p>

            
        </form>
    </div>
</div>

<body onload="startTime()">

    <div style="margin: 0px auto;">


        @if (Model.Current != null)

        {

            var equity = Model.Current;


            <table align="right" border="1"   style="margin: 0px auto;">

                <tbody align="right">

                    <tr>

                        <td>

                            <table>
                                <tr>
                                    <td>
                                        Symbol
                                    </td>
                                    <td>
                                        @equity.symbol
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EX Date
                                    </td>
                                    <td>
                                        @equity.exDate
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Payment Date
                                    </td>
                                    <td>

                                        @equity.paymentDate

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        Record Date

                                    </td>

                                    <td>

                                        @equity.recordDate

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        Declared Date

                                    </td>

                                    <td>

                                        @equity.declaredDate

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        Amount

                                    </td>

                                    <td>

                                        @equity.amount

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        Type

                                    </td>

                                    <td>

                                        @equity.type

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        Qualified

                                    </td>

                                    <td>

                                        @equity.qualified

                                    </td>

                                </tr>

                            </table>

                        </td>


                    </tr>

                </tbody>

            </table>

        }
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </div>

    
</body>
</html>


