

@model TradeVM



@{

    ViewData["Title"] = "Trades";

}



<h2>Largest Trades</h2>

<h4>Run symbols and save data if the drop down list is empty. Please contact IEX Trading if you have any questions about your data !</h4>

<hr />



<form asp-controller="Trade" asp-action="Trade" method="get">

    <select name="symbol">

        @foreach (var company in Model.Companies)

        {

            <option value=@company.symbol selected>@company.name</option>

        }

    </select>

    <input type="submit" value="Get Largest Trades" />

</form>





@if (Model.Current != null)

{

    var equity = Model.Current;

    <hr />

    <table>

        <tbody>

            <tr>

                <td>

                    Largest Trades Data

                    <table>

                        <tr>

                            <td>

                                Symbol

                            </td>

                            <td>

                                @equity.symbol

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Price

                            </td>

                            <td>

                                @equity.price

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Size

                            </td>

                            <td>

                                @equity.size

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Time

                            </td>

                            <td>

                                @equity.time

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Time Label

                            </td>

                            <td>

                                @equity.timeLabel

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Venue

                            </td>

                            <td>

                                @equity.venue

                            </td>

                        </tr>

                        <tr>

                            <td>

                                Venue Name

                            </td>

                            <td>

                                @equity.venueName

                            </td>

                        </tr>

                    </table>

                </td>

                <td>

                    @*<div>

                          <canvas id="myChart" height="500" width="800"></canvas>

                        </div>*@

                </td>

                <td>

                    <a asp-controller="Trade" asp-action="SaveTrades" asp-route-symbol="@Model.Current.symbol">

                        <img src="~/img/button_save-data.png" />

                    </a>

                </td>

            </tr>

        </tbody>

    </table>

}



<script>

    alertDbSave(@ViewBag.dbSuccessChart);

</script>